      
       <!-- <ul>
<button class="btn btn-primary"  routerLink="/emp" >Employee Details</button>
<button class="btn btn-primary"  routerLink="/fillemp" >Fill Employee</button>
<button class="btn btn-primary"  routerLink="/showemp" >Show Employee</button>

      </ul> -->
      <!-- <div class="tab">
            <ul>
    <li><a routerLink="/emp">Employee Details</a></li>
    <li><a routerLink="/fillemp">Fill Employee Details</a></li>
    <li><a routerLink="/showemp">Show Employee Details</a></li>
    
            </ul>
        </div> -->
        <!-- <mat-tab-group>
            <mat-tab label="Employee Details" ></mat-tab>
            <mat-tab label="Fill Employee Details"></mat-tab>
            <mat-tab label="Show Employee Details" ></mat-tab>
          </mat-tab-group> -->
          <nav mat-tab-nav-bar>
                <!-- <mat-tab label="Employee Details" ></mat-tab>
            <mat-tab label="Fill Employee Details"></mat-tab>
            <mat-tab label="Show Employee Details" ></mat-tab> -->
            <a mat-tab-link
            *ngFor="let link of navLinks"
            [routerLink]="link.link"
            routerLinkActive #rla="routerLinkActive"
            [active]="rla.isActive"
            >
            {{link.label}}
      </a>
            </nav>
      <router-outlet></router-outlet> 

      <!-- <button class="btn btn-primary" ><a routerLink="/emp"></a>Load Employee</button>
      <button class="btn btn-primary"><a routerLink="/fillemp"></a>Fill Employee</button>
      <button class="btn btn-primary"><a routerLink="/showemp"></a>Show Employee</button> -->
      <!-- <router-outlet></router-outlet>  -->
      <!-- <app-employee-details></app-employee-details>
       <app-employeedata></app-employeedata>
       <app-showdata></app-showdata> -->
       
        <!-- <li><a class='nav-link' routerLinkActive='active' routerLink='/EMPLOYEE'>Employee</a></li>
        <li><a class='nav-link' routerLinkActive='active' routerLink='/EMPLOYEE'>Cafeteria</a></li> -->
      
  
  
  
  